.send-button {
  background-color: rgb(64, 144, 243);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.input-text {
  padding: 10px 15px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.input-block {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-content: start;
}

.clear-button {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}