.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
  height: 100vh;
  position: relative;
}

.welcome-message {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 80px;
  /* background-color: rgb(238, 238, 238);
      padding: 10px 10px;
      border-radius: 10px; */
}